.appointment {
  padding: 10% 4% 14% 4%;
  min-height: 100vh;
  .appointmentSection {
    h1 {
      font-size: 4rem;
      font-weight: 400;
      text-align: center;
      @media only screen and (max-width: 700px) {
        font-size: 2rem;
      }
      span {
        font-weight: 600;
        color: $blue;
      }
    }
    .appointmentForm {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 50%;
      margin: 50px auto 20px auto;
      @media only screen and (max-width: 700px) {
        width: 100%;
      }
      form {
        width: 100%;
        .form-group {
          display: flex;
          flex-direction: column;
          label {
            font-size: 1.6rem;
            font-weight: 500;
            color: $blue;
            @media only screen and (max-width: 700px) {
              font-size: 1.1rem;
            }
          }
          input,
          select {
            margin: 16px 0 25px 0;
            width: 100%;
            padding: 1.4% 2%;
            font-size: 1.2rem;
            font-weight: 500;
            border-radius: 10px;
            border: 3px solid #ebebeb;
            outline: none;
            @media only screen and (max-width: 700px) {
              padding: 4% 3%;
              font-size: 1.08rem;
            }
          }
        }
        button {
          margin-top: 30px;
          width: 100%;
          padding: 2% 0;
          border: 3px solid $blue;
          background: $blue;
          border-radius: 10px;
          color: #fff;
          font-size: 1.5rem;
          font-weight: 500;
          transition: all 0.25s linear;
          cursor: pointer;
          @media only screen and (max-width: 700px) {
            font-size: 1.2rem;
            padding: 6% 0;
          }
          &:hover {
            background: transparent;
            color: $blue;
          }
        }
      }
    }
    .formSubmited {
      h1 {
        font-size: 3.3rem;
        @media only screen and (max-width: 700px) {
          font-size: 2.2rem;
        }
      }
      .makeAnotherAptBtn {
        display: block;
        text-align: center;
        width: 90%;
        color: #fff;
        border-radius: 10px;
        margin: 100px auto 60px auto;
        background: $blue;
        font-size: 2rem;
        font-weight: 500;
        padding: 2%;
        border: 3px solid $blue;
        transition: background 0.25s ease-in-out;
        @media only screen and (max-width: 700px) {
          font-size: 1.2rem;
          padding: 5% 0;
        }
        &:hover {
          background: transparent;
          color: $blue;
          border: 3px solid $blue;
        }
      }
      .returnBtns {
        text-align: center;
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media only screen and (max-width: 700px) {
          width: 100%;
        }
        a {
          display: block;
          width: 50%;
          font-size: 1.2rem;
          color: $blue;
          font-weight: 500;
          margin-right: 10px;
          span {
            position: relative;
            &::after {
              position: absolute;
              content: "";
              width: 0;
              height: 2px;
              background: $blue;
              bottom: -3px;
              left: 0;
              transition: all 0.25s linear;
            }
          }

          &:hover {
            span {
              &::after {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
