.gallery {
  padding: 10% 4% 14% 4%;
  min-height: 100vh;
  overflow-x: hidden;
  .gallerySection {
    h1 {
      font-size: 4rem;
      font-weight: 400;
      text-align: center;
      @media only screen and (max-width: 700px) {
        font-size: 2rem;
      }
      strong {
        color: $blue;
      }
    }
    .galleryCarousel {
      margin: 120px 0;
      @media only screen and (max-width: 700px) {
        margin: 80px 0;
      }
      div {
        height: 400px;
      }
      img {
        height: 100%;
        max-width: 90%;
        object-fit: cover;
        border-radius: 10px;
        @media only screen and (max-width: 700px) {
          max-width: 100%;
        }
      }
      .slick-slider {
        &:hover {
          .slick-prev {
            background: rgba(27, 27, 27, 0.568);
          }
          .slick-next {
            background: rgba(32, 32, 32, 0.753);
          }
        }
      }
      .slick-prev {
        left: 0 !important;
        height: 100%;
        width: 96px;
        transition: all 0.25s linear;
        background: rgba(27, 27, 27, 0);
        z-index: 1;
        @media only screen and (max-width: 700px) {
          width: 36px;
        }
        &::before {
          font-size: 45px;
          @media only screen and (max-width: 700px) {
            font-size: 30px;
          }
        }
      }
      .slick-next {
        right: 0;
        height: 100%;
        width: 96px;
        transition: all 0.25s linear;
        background: rgba(32, 32, 32, 0);
        @media only screen and (max-width: 700px) {
          width: 36px;
        }
        &::before {
          font-size: 45px;
          @media only screen and (max-width: 700px) {
            font-size: 30px;
          }
        }
      }
      .slick-list {
        overflow: visible;
        @media only screen and (max-width: 700px) {
          overflow: hidden;
        }
      }
      .slick-slide {
        opacity: 0.5 !important;
        transition: all 0.3s linear;
        overflow: visible;
        border-radius: 10px;
        @media only screen and (max-width: 700px) {
          overflow: hidden;
          opacity: 1 !important;
        }
        div:focus-visible {
          outline: none !important;
        }
      }
      .slick-center.slick-current {
        opacity: 1 !important;
        transform: translateY(-20px) scale(1.1);
        border-radius: 10px;
        transition: all 0.3s linear;
      }
    }
    .galleryHelp {
      text-align: center;
      h2 {
        font-size: 3.4rem;
        font-weight: 400;
        @media only screen and (max-width: 700px) {
          font-size: 2.5rem;
          width: 100%;
          text-align: center;
          margin: 0 auto;
        }
        strong {
          color: $blue;
        }
      }
      a {
        margin: 30px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 220px;
        height: 65px;
        background: $blue;
        border-radius: 10px;
        color: #fff;
        font-size: 1.5rem;
        font-weight: 500;
        border: 3px solid $blue;
        transition: all 0.25s linear;
        @media only screen and (max-width: 700px) {
          width: 90%;
          height: 50px;
          font-size: 1rem;
        }
        &:hover {
          background: #fff;
          color: $blue;
        }
      }
    }
  }
}
.ril__inner {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  img {
    width: unset;
  }
}
