nav {
  @media only screen and (max-width: 700px) {
    padding-bottom: 100px;
  }
  .navContainer {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-in-out;
    z-index: 5;
    .navLogo {
      width: 120px;
      height: 60px;
      a {
        img {
          max-width: 100%;
          object-fit: contain;
        }
      }
      @media only screen and (max-width: 700px) {
        width: 85px;
        height: 45px;
      }
    }
    .navLinks {
      .active-link {
        color: $blue !important;
        font-weight: 600;
        position: relative;
        transition: all 0.25s ease-in-out;
      }
      ul {
        display: flex;
        gap: 34px;
        position: relative;
        span {
          position: absolute;
          bottom: -15px;
          left: 6%;
          height: 10px;
          width: 10px;
          background: $blue;
          border-radius: 50%;
          content: "";
          display: block;
          transition: all 0.3s ease-in-out;
          //animation: dotAnim 1s ease-in-out;
        }
        li {
          list-style: none;
          a {
            font-size: 1.2rem;
            text-decoration: none;
            color: $black;
          }
        }
      }
      @media only screen and (max-width: 700px) {
        display: none;
      }
    }
    .navButton {
      transition: all 0.3s ease-in-out;
      position: relative;
      z-index: 8;
      @media only screen and (max-width: 700px) {
        height: 50px;
        width: 50px;
      }
      a {
        display: block;
        background: #fff;
        color: $blue;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 30px;
        border-radius: 10px;
        font-size: 1.2rem;
        font-weight: 600;
        transition: all 0.25s linear;
        span {
          display: none;
        }
        @media only screen and (max-width: 700px) {
          display: none;
        }
        &:hover {
          opacity: 0.8;
        }
      }
      .bookAptBtn {
        background: $blue;
        color: #fff;
        border: 2px solid $blue;
        &:hover {
          background: #fff;
          color: $blue;
          border: 2px solid $blue;
        }
      }
      @media only screen and (max-width: 700px) {
        .mobHeadHamBtn {
          height: 50px;
          width: 50px;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }
        span {
          pointer-events: all;
          position: absolute;
          background: $blue;
          height: 3px;
          width: 30px;
          transition: all 0.25s ease-in-out;
          transform: translate(0, 50%);
          border-radius: 15px;
          &::before {
            position: absolute;
            bottom: -8px;
            right: 0;
            content: "";
            height: 3px;
            width: 20px;
            background: $blue;
            transition: all 0.25s ease-in-out;
            border-radius: 15px;
          }
          &::after {
            position: absolute;
            top: -8px;
            right: 0;
            content: "";
            height: 3px;
            width: 40px;
            background: $blue;
            transition: all 0.25s ease-in-out;
            border-radius: 15px;
          }
        }
      }
      &:hover {
        span {
          cursor: pointer;

          &::before {
            width: 30px;
            background: $blue;
          }
          &::after {
            width: 30px;
            background: $blue;
          }
        }
      }
    }
  }
  .navOpen {
    clip-path: circle(141.2% at 100% 0) !important;
  }
  .mobHeader {
    display: none;
    @media only screen and (max-width: 700px) {
      position: fixed;
      z-index: 6;
      height: 100%;
      width: 100%;
      background: $blue;
      color: #fff;
      display: flex !important;
      clip-path: circle(0 at 100% 0);
      justify-content: center;
      align-items: center;
      transition: all 0.25s ease-in-out;
      .mobHeaderContainer {
        .mobHeadCloseBtn {
          cursor: pointer;
          height: 50px;
          width: 50px;
          position: absolute;
          top: 10px;
          right: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          span {
            position: relative;
            display: block;
            height: 50px;
            width: 50px;
            transition: all 0.25s ease-in-out;
            transform: translate(-50%, -50%);
            &::before {
              position: absolute;
              bottom: -8px;
              right: 0;
              content: "";
              height: 3px;
              width: 30px;
              background: #fff;
              transition: all 0.25s ease-in-out;
              transform: rotate(45deg);
            }
            &::after {
              position: absolute;
              bottom: -8px;
              right: 0;
              content: "";
              height: 3px;
              width: 30px;
              background: #fff;
              transition: all 0.25s ease-in-out;
              transform: rotate(-45deg);
            }
            &:hover {
              &::before {
                transform: rotate(220deg);
              }
            }
          }
        }
        ul {
          text-align: center;
          li {
            list-style: none;
            margin-bottom: 30px;
            a {
              color: #fff;
              font-weight: 500;
              font-size: 1.5rem;
            }
          }
          .bookAptBtn {
            background: white;
            padding: 15px 20px;
            border-radius: 10px;
            margin-top: 60px;
            a {
              color: $blue;
              font-size: 1.4rem;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

@supports (
    -webkit-backdrop-filter: blur(30px) saturate(160%) contrast(45%) brightness(140%)
  )
  or (backdrop-filter: blur(30px) saturate(160%) contrast(45%) brightness(140%)) {
  .activeNav {
    transition: all 0.5s ease-in-out;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #fff;
    // backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    // -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%)
    //   brightness(140%);
    padding: 10px 20px !important;
  }
}
@keyframes dotAnim {
  from {
    width: 80px;
  }
  to {
    width: 10px;
  }
}

.emergencyFloating {
  background: #e31a1c;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s linear;
  @media only screen and (max-width: 700px) {
    height: 50px;
    width: 50px;
  }
  a {
    svg {
      height: 40px;
      width: 40px;
      @media only screen and (max-width: 700px) {
        height: 30px;
        width: 30px;
      }
      path {
        transition: all 0.25s linear;
      }
    }
  }
  &:hover {
    background: white;
    border: 2px solid #d10e11;
    a {
      path {
        fill: #e31a1c;
      }
    }
  }
}

//footer
footer {
  border-top: 2px solid #e5e5e5;
  padding: 2% 5% 0.5% 5%;
  @media only screen and (max-width: 700px) {
    padding: 50px 5% 0.5% 5%;
  }
  .active-link {
    color: $blue !important;
    font-weight: 600;
    position: relative;
    transition: all 0.25s ease-in-out;
    &::after {
      position: absolute;
      content: "";
      height: 10px;
      width: 10px;
      background: $blue;
      border-radius: 50%;
      left: -15px;
      top: 10px;
      transition: all 0.25s ease-in-out;
    }
  }
  .footerRow1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media only screen and (max-width: 700px) {
      flex-direction: column-reverse;
    }
    .leftRow1 {
      @media only screen and (max-width: 700px) {
        margin-top: 20px;
        width: 100%;
      }
      a {
        margin-bottom: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #e1e1e1;
        border-radius: 10px;
        width: 207px;
        height: 80px;
        font-size: 1.4rem;
        font-weight: 600;
        transition: all 0.25s linear;
        @media only screen and (max-width: 700px) {
          margin: 20px auto;
          width: 100%;
          height: 56px;
          font-size: 1rem;
        }
        &:hover {
          background: $blue;
          color: #fff;
        }
      }
      :first-child {
        color: #e31a1c;
        width: 297px;
        @media only screen and (max-width: 700px) {
          width: 100%;
          //   font-size: 0.9rem;
          //   padding: 2%;
        }
        &:hover {
          background: #e31a1c;
          color: #fff;
        }
      }
    }
    .rightRow1 {
      @media only screen and (max-width: 700px) {
        width: 100%;
      }
      a {
        border: 1px solid #e1e1e1;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 500;
        font-size: 2rem;
        color: $blue;
        padding: 3% 6%;
        transition: all 0.25s linear;
        @media only screen and (max-width: 700px) {
          font-size: 1.2rem;
          color: #fff;
          background: $blue;
          padding: 5% 8%;
          width: 100%;
        }
        :first-child {
          flex: 0.4;
        }
        svg {
          height: 100px;
          width: 80px;
          @media only screen and (max-width: 700px) {
            height: 60px;
            width: 60px;
            path {
              fill: #fff;
            }
          }
        }
        &:hover {
          color: #fff;
          background: $blue;
          path {
            fill: #fff;
          }
        }
      }
    }
  }

  .footerRow2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media only screen and (max-width: 700px) {
      flex-direction: column;
      text-align: center;
    }
    .footerLinks {
      ul {
        li {
          list-style: none;
          margin-bottom: 10px;
          a {
            font-size: 1.2rem;
            font-weight: 500;
            &:hover {
              color: $blue;
            }
          }
        }
      }
    }
    .socialLinkConatiner {
      @media only screen and (max-width: 700px) {
        padding: 40px 0;
      }
      p {
        font-size: 1.6rem;
        text-align: right;
        font-weight: 500;
      }
      .socialLinks {
        margin-top: 20px;
        a {
          margin-right: 15px;

          svg {
            height: 30px;
            width: 30px;
            path {
              transition: all 0.3s linear;
            }
          }
          &:last-child {
            margin-right: 0;
          }
          &:hover {
            path {
              fill: $blue;
            }
          }
        }
      }
    }
  }
  .footer {
    text-align: center;
    p {
      margin: 5px 0;
      @media only screen and (max-width: 700px) {
        font-size: 0.85rem;
      }
    }
    a {
      margin: 10px 0;
      font-weight: 600;
    }
  }
}
